
html, body 
{
    margin: 0;
}
body
{
    background-image: url("https://i0.wp.com/ericchadwick.com/img/volcano_loop.gif");
    background-size: cover;
}
div
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-style: italic;
    font-size: 22px;
}